<section>
  <h1>About Me</h1>

  <p>I'm a <a href="{{ root_url }}/ruby-developer/">Ruby developer</a> at <a href="http://www.promptworks.com/">PromptWorks</a> in Philadelphia and the maintainer of <a href="http://redcloth.org">RedCloth</a>, a popular text-formatting library for Ruby.</p>

  <address>
  {% img /images/jason-garber.png 130 130 Jason Garber %}
  <script type="text/javascript">
  var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
  "harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
  "\\\\,l=x.length;for(i=0;i<l;i++){if(i<97)y++;y%=127;o+=String.fromCharCode(" +
  "x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\\\\\\\\\006\\\\\\\\013\\\\\\\\0" +
  "05\\\\\\\\035\\\\\\\\007\\\\\\\\t\\\\\\\\000\\\\\\\\004\\\\\\\\\\\\\\\\\\\\" +
  "\\\\003\\\\\\\\004\\\\\\\\021\\\\\\\\016\\\\\\\\031\\\\\\\\022o+';h+e}tu(K;" +
  "v|vMWJ\\\\\\\\035CLmEP@ZY^ZO]$1k$&&\\\\\\\\021mq'<#5>`\\\\\\\\003C&\\\\\\\\" +
  "010\\\\\\\\006\\\\\\\\000\\\\\\\\007M%\\\\\\\\020\\\\\\\\000\\\\\\\\032\\\\" +
  "\\\\031Y<\\\\\\\\034r`atT(2dwR~wkuryAPF@T\\\\\\\\tKFG\\\\\\\\027\\\\\\\\003" +
  "L\\\\\\\\020\\\\\\\\r\\\\\\\\031\\\\\\\\n\\\\\\\\002\\\\\\\\010\\\"\\\\,97)" +
  "\\\"(f};)lo,0(rtsbus.o nruter};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hcta" +
  "c};l=+l;x=+x{yrt{)15=!)31/l(tAedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o," +
  "i rav{)x(f noitcnuf\")"                                                      ;
  while(x=eval(x));
  </script></address>

</section>
