body#home {
  header { display: none; }
  h1#my-name {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    color: #46402f;
    margin: 0.6em 0;
    text-shadow: 1px 1px 1px #E4DDBD, -1px -1px 1px #1a1914;
  }
  #content > div, #content article { padding-top: 0; }
  #nav {
    margin: 30px auto;
    position:relative;
    width: 762px;
  }
  &> div { border-bottom: none; }
  &> div > div { border-right: none; }
  &> footer {
    background: none;
    border: none;
    text-align: center;
  }
  .pane {
    width: 66px;
    margin-right: 50px;
    float: left;
    opacity:0.5;
    position: relative;
    font-family: $sans;
    font-size: 80%;
    a {
      color: #903937;
      &:visited { color: #743030; }
      &:hover { color: #D10000; }
    }
    ul { margin-bottom: 1em; }
    li { border-bottom: 1px solid #E0E0E0; }
  }
  .pane .innertext {
    overflow: hidden;
    position: relative;
    width: 295px;
  }
  .pane .pane-mask {
    overflow: hidden;
    margin-top: -8px;
    height: 0;
    width: 0;
  }

  /* Basic styling, used when JavaScript is unsupported */
  /*
  TLx:28
  TLy:31
  TRx:38
  TRy:31
  BLx:28
  BLy:136
  BRx:38
  BRy:136
  */
  .cbb {
    margin:1em 0;
    padding:0 10px;
    border:none; /*1px solid #666;*/
    background:#f8fbd8;
  }
    /* Top corners and border */
  .bt {
    height:31px;
    margin:0 0 0 28px;
    background: image-url("box.png") no-repeat 100% 0;
  }
  .bt div {
    position:relative;
    left:-28px;
    width:28px;
    height:31px;
    background: image-url("box.png") no-repeat 0 0;
    font-size:0;
    line-height:0;
  }

    /* Bottom corners and border */
  .bb {
    height:34px;
    margin:0 0 0 28px;
    background:image-url("box.png") no-repeat 100% 100%;
  }
  .bb div {
    position:relative;
    left:-28px;
    width:28px;
    height:34px;
    background:image-url("box.png") no-repeat 0 100%;
    font-size:0;
    line-height:0;
  }

    /* Left border */
  .i1 {
    padding:0 0 0 6px;
    background: image-url("borders.png") repeat-y 0 0;
  }
    /* Right border */
  .i2 {
    padding:0 15px 0 0;
    background: image-url("borders.png") repeat-y 100% 0;
  }
    /* Wrapper for the content. Use it to set the background colour and insert some padding between the borders and the content. */
  .i3 {
    display:block;
    margin:0;
    padding:1px 10px;
    background:#f8fbd8;
    position:relative;
  }
    /* Make the content wrapper auto clearing so it will contain floats (see http://positioniseverything.net/easyclearing.html). */
  .i3:after {
    content:"."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
  }
  .i3 {display:inline-block;}
  .i3 {display:block;}
  /* Default CSS ends here */


  .pane .icon {
    background: transparent image-url("icons.png") no-repeat top left;
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
    top: -30px;
    left: -6px;
    z-index:1000;
  }
  #twitter.icon { background-position: -60px 0; }
  #github.icon { background-position: -125px 0; }
  #blog.icon { background-position: -185px 0; }
  #linkedin.icon { background-position: -245px 0; }
  #claimid.icon { background-position: -305px 0; }
  #contact.icon {
    background-position: -368px 0;
    margin-right: none;
  }
  .pane {
    h1, h2 {
      color: #46402f;
      font-size:120%;
      margin-bottom:20px;
      margin-left: 40px;
    }
    p { margin: 0; }
  }

  #bird {
    max-width: 500px;
    margin: 0 auto 0;
    text-align: center;
    img { padding: 0 12% 0 28%; border: none; box-shadow: none; border-radius: none;}
  }
  div#bio {
    margin:0 auto 1em;
    padding-bottom: 1em;
    max-width:600px;
    color: #17150f;
  }
  #bio p {
    break-after: column;
    break-inside: avoid-column;
  }
  #bio sup {
    font-size:smaller;
    line-height:normal;
    vertical-align:super;
  }

  #wrap {
    max-width:762px;
    margin:0 auto;
  }

  .nav {
    padding:5px 10px;
  }
  .nav ul {
    margin:0;
    padding:0;
    list-style:none;
  }
  .nav li {
    display:inline;
    margin:0;
    padding:0;
  }
  @media only screen and (min-width: 550px) {
    div#bio {
      -moz-column-count: 2;
      -moz-column-gap: 40px;
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
    }
  }
}  