// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@import "home";

html {
  background: $page-bg image-url('bg-boxes.jpg') top left;
}
body > header {
  background: $header-bg image-url('bg-boxes-brown.jpg') top left;
}

// Put post date below header
article header {
  padding-top: 0.5em;
  p.meta {
    position: static; }
}

dt { font-weight: 500; }
dd { margin-left: 1em; }

.screenshot {
  float: right;
  margin-left: 1em;
}
