// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@import "home";

html {
  background: $page-bg image-url('bg-boxes.jpg') top left;
}
body#home {
  > div {
    background: transparent;
    > div {
      background: transparent;
    }
  }
}